 /* 헤더 부분 */
   .kal-header{
      width:100%;
   }
   /* 서브 네비게이션 */
   /* before-login */
   .kal-before-login-sub-gnb{
      height:40px;
      background:#434343;
   }
   .kal-before-login-sub-left-menu{
      width:300px;
      float:left;
      margin-top:11px;
      margin-left:10px;
   }
   .kal-before-login-sub-left-menu-region-select-btn{
      background:none;
      border:none;
      color:white;
      font-weight:bold;
      font-size:12px;
      cursor:pointer;
   }
   .kal-before-login-region-select-btn>img{
   	  padding-left:8px; 
   }
   .kal-before-login-sub-left-menu-text1{
      color:white;
      font-weight:bold;
      font-size:12px;
   }
   .kal-before-login-sub-left-menu-text1>img{
      padding-right:10px;
   }
   .kal-before-login-sub-left-menu-text2{
   	  color:white;
   	  font-size:12px;
   	  font-weight:bold;
   	  padding-right:5px;
   	  text-decoration:underline;
   }
   .kal-before-login-sub-left-menu-text3{
   	  color:white;
   	  font-size:12px;
   	  text-decoration:none;
   }
   .kal-before-login-sub-right-menu{
   	  width:300px;
   	  float:right;
   	  margin-top:11px;
   	  margin-right:4px;
   }
   .kal-before-login-sub-right-menu-login{
      text-decoration:none;
      font-weight:bold;
      font-size:12px;
      color:white;
   }
   .kal-before-login-sub-right-menu-regist{
      text-decoration:none;
      font-weight:bold;
      font-size:12px;
      color:white;
   }
   
   .kal-before-login-sub-right-menu-myregist{
      text-decoration:none;
      font-weight:bold;
      font-size:12px;
      color:white;
   }
   .kal-before-login-sub-right-menu-wishlist{
      text-decoration:none;
      font-weight:bold;
      font-size:12px;
      color:white;
      padding-right:8px;
   }
   .kal-before-login-sub-right-menu-search{
      font-size:12px;
      color:gray;
      width:80px;
   }
   .kal-before-login-sub-right-menu-search-icon>img{
      position:absolute;
      top:14px;
      right:25px;
   }
   /* after-login */
   .kal-after-login-sub-gnb{
      height:40px;
      background:#434343;
   }
   .kal-after-login-sub-left-menu{
      width:300px;
      float:left;
      margin-top:11px;
      margin-left:10px;
   }
   .kal-after-login-sub-left-menu-region-select-btn{
      background:none;
      border:none;
      color:white;
      font-weight:bold;
      font-size:12px;
      cursor:pointer;
   }
   .kal-after-login-region-select-btn>img{
   	  padding-left:8px; 
   }
   .kal-after-login-sub-left-menu-text1{
      color:white;
      font-weight:bold;
      font-size:12px;
   }
   .kal-after-login-sub-left-menu-text1>img{
      padding-right:10px;
   }
   .kal-after-login-sub-left-menu-text2{
   	  color:white;
   	  font-size:12px;
   	  font-weight:bold;
   	  padding-right:5px;
   	  text-decoration:underline;
   }
   .kal-after-login-sub-left-menu-text3{
   	  color:white;
   	  font-size:12px;
   	  text-decoration:none;
   }
   .kal-after-login-sub-right-menu{
   	  width:320px;
   	  float:right;
   	  margin-top:11px;
   	  margin-right:4px;
   }
   .kal-after-login-sub-right-menu-logout{
      text-decoration:none;
      font-weight:bold;
      font-size:12px;
      color:white;
   }
   .kal-after-login-sub-right-menu-mypage{
      text-decoration:none;
      font-weight:bold;
      font-size:12px;
      color:white;
   }
   
   .kal-after-login-sub-right-menu-myregist{
      text-decoration:none;
      font-weight:bold;
      font-size:12px;
      color:white;
   }
   .kal-after-login-sub-right-menu-wishlist{
      text-decoration:none;
      font-weight:bold;
      font-size:12px;
      color:white;
      padding-right:8px;
   }
   .kal-after-login-sub-right-menu-search{
      font-size:12px;
      color:gray;
      width:80px;
   }
   .kal-after-login-sub-right-menu-search-icon>img{
      position:absolute;
      top:14px;
      right:25px;
   }
   /* 메인 네비게이션 */
   .kal-main-gnb{
      height:60px;
      border-bottom:4px solid #4f8ba3;
   }
   .kal-main-logo{
      width:245px;
      float:left;
      padding-top:16px;
      padding-left:10px;
   }
   .kal-main-right-menu{
   	  width:690px;
   	  float:right;
   	  padding-top:10px;
   	  padding-right:10px;
   }
   .kal-main-right-menu-reservation-btn{
      cursor:pointer;
      padding:0 20px 0 40px;
      height:40px;
      background:none;
      border:none;
      font-size:18px;
      color:#333;
      background-image:url("/web/resources/img/main/top-nav-topMenu1.png");
      background-position:left;
      background-repeat:no-repeat;
   }
   .kal-main-right-menu-skypass-btn{
      cursor:pointer;
      padding:0 20px 0 40px;
      height:40px;
      background:none;
      border:none;
      font-size:18px;
      color:#333;
      background-image:url("/web/resources/img/main/top-nav-topMenu2.png");
      background-position:left;
      background-repeat:no-repeat;
   }
   .kal-main-right-menu-service-btn{
      cursor:pointer;
      padding:0 20px 0 40px;
      height:40px;
      background:none;
      border:none;
      font-size:18px;
      color:#333;
      background-image:url("/web/resources/img/main/top-nav-topMenu3.png");
      background-position:left;
      background-repeat:no-repeat;
      position: relative;
   }
   .kal-service-btn-content{
    text-decoration:none;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
	}
   .kal-service-btn-content>a{
   	  color:#4f8ba3;
   	  text-decoration:none;
   	  font-size:16px;
   	  padding:10px 20px;
   }
   .kal-service-btn-content-faq{
   	  display:inline-block;
      margin-bottom:3px;
   }
   .kal-service-btn-content-review{
   	  display:inline-block;
      margin-bottom:3px;
   }
   .kal-main-right-menu-service-btn:hover .service-btn-content{
    display: block;
	}
   .kal-main-right-menu-promotion-btn{
      cursor:pointer;
      padding:0 20px 0 40px;
      height:40px;
      background:none;
      border:none;
      font-size:18px;
      color:#333;
      background-image:url("/web/resources/img/main/top-nav-topMenu4.png");
      background-position:left;
      background-repeat:no-repeat;
   }
   
   /* 풋터 부분 */
   .kal-footer{
      width:100%;
      height:400px;
      background-image:url("/web/resources/img/main/footer-background.jpg");
      background-repeat:no-repeat;
      background-size:100%; 
   }
   .kal-footer-wrap{
      padding:100px 280px;
   }
   .kal-footer-left-content{
      width:900px;
      float:left;
   }
   .kal-footer-left-content-menu{
      position:relative;
   }
   .kal-footer-left-content-menu h2{
      color:white;
      font-weight:bold;
      font-size:18px;
   }
   .kal-footer-left-content-menu-1{
      width:180px;
   }
   .kal-footer-left-content-menu-1>ul{
      margin-top:20px;
      padding:0 10px;
      border-left:1px solid white;
   }
   .kal-footer-left-content-menu-1-li1{
      padding-bottom:10px;
   }
   .kal-footer-left-content-menu-1-li1>a{
      color:white;
      text-decoration:none;
   }
   .kal-footer-left-content-menu-1-li2{
      padding-bottom:10px;
   }
   .kal-footer-left-content-menu-1-li2>a{
      color:white;
      text-decoration:none;
   }
   .kal-footer-left-content-menu-1-li3{
      padding-bottom:10px;
   }
   .kal-footer-left-content-menu-1-li3>a{
      color:white;
      text-decoration:none;
   }
   .kal-footer-left-content-menu-1-li4{
      padding-bottom:10px;
   }
   .kal-footer-left-content-menu-1-li4>a{
      color:white;
      text-decoration:none;
   }
   /* ------------------- */
   .kal-footer-left-content-menu-2{
      position:absolute;
      top:0;
      left:250px;
      width:180px;
   }
   .kal-footer-left-content-menu-2{
      width:180px;
   }
   .kal-footer-left-content-menu-2>ul{
      margin-top:20px;
      padding:0 10px;
      border-left:1px solid white;
   }
   .kal-footer-left-content-menu-2-li1{
      padding-bottom:10px;
   }
   .kal-footer-left-content-menu-2-li1>a{
      color:white;
      text-decoration:none;
   }
   .kal-footer-left-content-menu-2-li2{
      padding-bottom:10px;
   }
   .kal-footer-left-content-menu-2-li2>a{
      color:white;
      text-decoration:none;
   }
   .kal-footer-left-content-menu-2-li3{
      padding-bottom:10px;
   }
   .kal-footer-left-content-menu-2-li3>a{
      color:white;
      text-decoration:none;
   }
   .kal-footer-left-content-menu-2-li4{
      padding-bottom:10px;
   }
   .kal-footer-left-content-menu-2-li4>a{
      color:white;
      text-decoration:none;
   }
   /* -------------------------- */
   .kal-footer-left-content-menu-3{
      position:absolute;
      top:0;
      left:500px;
      width:180px;
   }
   .kal-footer-left-content-menu-3{
      width:180px;
   }
   .kal-footer-left-content-menu-3>ul{
      margin-top:20px;
      padding:0 10px;
      border-left:1px solid white;
   }
   .kal-footer-left-content-menu-3-li1{
      padding-bottom:10px;
   }
   .kal-footer-left-content-menu-3-li1>a{
      color:white;
      text-decoration:none;
   }
   .kal-footer-left-content-menu-3-li2{
      padding-bottom:10px;
   }
   .kal-footer-left-content-menu-3-li2>a{
      color:white;
      text-decoration:none;
   }
   .kal-footer-left-content-menu-3-li3{
      padding-bottom:10px;
   }
   .kal-footer-left-content-menu-3-li3>a{
      color:white;
      text-decoration:none;
   }
   .kal-footer-left-content-menu-3-li4{
      padding-bottom:10px;
   }
   .kal-footer-left-content-menu-3-li4>a{
      color:white;
      text-decoration:none;
   }
   /* -------------------------------- */
   .kal-footer-left-content-menu-4{
      position:absolute;
      top:0;
      left:750px;
      width:180px;
   }
   .kal-footer-left-content-menu-4{
      width:180px;
   }
   .kal-footer-left-content-menu-4>ul{
      margin-top:20px;
      padding:0 10px;
      border-left:1px solid white;
   }
   .kal-footer-left-content-menu-4-li1{
      padding-bottom:10px;
   }
   .kal-footer-left-content-menu-4-li1>a{
      color:white;
      text-decoration:none;
   }
   .kal-footer-left-content-menu-4-li2{
      padding-bottom:10px;
   }
   .kal-footer-left-content-menu-4-li2>a{
      color:white;
      text-decoration:none;
   }
   .kal-footer-left-content-menu-4-li3{
      padding-bottom:10px;
   }
   .kal-footer-left-content-menu-4-li3>a{
      color:white;
      text-decoration:none;
   }
   .kal-footer-left-content-menu-4-li4{
      padding-bottom:10px;
   }
   .kal-footer-left-content-menu-4-li4>a{
      color:white;
      text-decoration:none;
   }
   
   .kal-footer-right-content{
   	  float:right;
   	  background-image:url("/web/resources/img/main/logo-visitkorea.png");
   	  background-repeat:no-repeat;
	  width:88px;
	  height:59px;
   }
   .kal-footer-left-content-address-sns{
      margin-top:50px;
      text-align:right;
   }