
/* gigun css */
.kal-gg-common-con{width:87%; height:3000px; float:right; margin-left:5px; margin-top:40px;}
.kal-gg-gnb { width:100%; height:40px; margin:0 auto; position:fixed; top:0; text-align:center;  background-color: #0180a3; padding:0; maring:0; z-index:5;}
.kal-gg-gnb-li{float:left; font-size: 18px; width:100px; background-color:none; }
.kal-gg-gnb li{display:inline-block; width:10%; text-align:center; padding:10px; color:white; cursor:pointer; }
.kal-gg-gnb-hover:hover{display:inline-block; width:10%;  text-align:center; padding:12px; color:white; cursor:pointer; background: #186686;	 } 
.kal-gg-body{width:100%; margin:0 auto;}
.kal-gg-nav {list-style-type:none; maring:0; padding:0; width:180px; height:auto; float:left;  position:fixed; top:40px; left:0;}
.kal-gg-nav div{border-bottom:1px solid #d4d4d4;}
.kal-gg-nav-drop{font-size: 11px; text-align: center; display:block; height:30px; padding-top:6px; display: none;}
.kal-gg-nav-drop:hover {font-size: 11px; text-align: center; display:block; height:30px; padding-top:8px; background-color: #d4d4d4;/*  display: none; */}
.kal-gg-flight-con{width:87%; height:auto; float:right; margin-left:5px; margin-top:40px; text-align:center; background-color:#f2f2f2;}
.kal-gg-flight-inner-con{width:80%; margin:0 auto; margin-top:70px;}
.kal-gg-flight-con-title{font-size: 30px; color: #666666; width:100%; height:50px; margin:0 auto; text-align: center;}
.kal-gg-flight-con-subtitle{font-size: 20px; color: #666666; margin-top:60px;  border-top: 1px solid #dadada; padding-top: 50px; clear:both;}
.kal-gg-flight-con-table{text-align:center; width:100%; border:1px solid #dddddd; margin:50px auto 10px auto; }
.kal-gg-flight-con-table tr{color: #6a7373; border: 1px solid #dddddd;}
.kal-gg-flight-con-table tr th{color: #6a7373; border: 1px solid #dddddd; text-align:center; font-size: 14px;} 
.kal-gg-flight-con-table tr td{color: #6a7373; border: 1px solid #dddddd; background-color: white; color: #737373; font-size:12px; height:35px; width:30%;} 
.kal-gg-flight-con-search{ text-align:center;   width:100%; height:auto;	}
.kal-gg-flight-con-search div{/* padding-left:10%;   */margin:10px 5px;  padding-bottom: 10px; width:48%;  float:left;}
.kal-gg-flight-con-search-cal{text-align:center; width:100%;  clear:both;}
.kal-gg-flight-con-table2{text-align:center; width:83%; float:left; border:1px solid #dddddd; margin:20px auto; }
.kal-gg-flight-con-table2 tr{color: #6a7373; border: 1px solid #dddddd; }
.kal-gg-flight-con-table2 tr th{color: #6a7373; border: 1px solid #dddddd; text-align:center; font-size: 14px;} 
.kal-gg-flight-con-table2 tr td{color: #6a7373; border: 1px solid #dddddd; background-color: white; color: #737373; font-size:12px; height:35px; width:10%;} 
.kal-gg-flight-con-update-button{float:right; font-size: 10px; }
.kal-gg-flight-con-clear{clear:both;}
.kal-gg-flight-con-btn{background-color:#0180a3; color:white; font-size:10px; border-radius:3px; cursor:pointer; padding:4px 10px;display:inline-block;float:right; margin-right:5px;
						box-shadow:0 1px 2px 1px rgba(0,0,0,0.2);
						border:1px solid #0180a3;}
.kal-gg-flight-con-btm{height:200px;}		
.kal-gg-flight-con-btn-add{float:right; height:35px; width:13%; position:relative; top:42px; right:60px;}	
.kal-gg-route-con{width:87%; height:auto; float:right; margin-left:5px; margin-top:40px; text-align:center; background-color:#f2f2f2;}
.kal-gg-route-inner-con{width:80%; margin:0 auto; margin-top:70px;}
.kal-gg-route-con-title{font-size: 30px; color: #666666; width:100%; height:50px; margin:0 auto; text-align: center;}
.kal-gg-route-con-subtitle{font-size: 20px; color: #666666; margin-top:60px;  border-top: 1px solid #dadada; padding-top: 50px; clear:both;}
.kal-gg-route-con-table{text-align:center; width:100%; border:1px solid #dddddd; margin:50px auto 10px auto; }
.kal-gg-route-con-table tr{color: #6a7373; border: 1px solid #dddddd; }
.kal-gg-route-con-table tr th{color: #6a7373; border: 1px solid #dddddd; text-align:center; font-size: 14px;} 
.kal-gg-route-con-table tr td{color: #6a7373; border: 1px solid #dddddd; background-color: white; color: #737373; font-size:12px; height:35px; width:30%;  padding-top:7px;} 
.kal-gg-route-con-search{ text-align:center;   width:100%; height:auto;	}
.kal-gg-route-con-search div{/* padding-left:10%;   */margin:10px 5px;  padding-bottom: 10px; width:32%;  float:left;}
.kal-gg-route-con-search-cal{text-align:center; width:100%;  clear:both;}
.kal-gg-route-con-table2{text-align:center; width:83%; float:left; border:1px solid #dddddd; margin:20px auto; }
.kal-gg-route-con-table2 tr{color: #6a7373; border: 1px solid #dddddd; }
.kal-gg-route-con-table2 tr th{color: #6a7373; border: 1px solid #dddddd; text-align:center; font-size: 14px;} 
.kal-gg-route-con-table2 tr td{color: #6a7373; border: 1px solid #dddddd; background-color: white; color: #737373; font-size:12px; height:35px; width:10%;  padding-top:10px;} 
.kal-gg-route-con-update-button{float:right; font-size: 10px; }
.kal-gg-route-con-clear{clear:both;}
.kal-gg-route-con-btn{background-color:#0180a3;color:white;font-size:10px;border-radius:3px;	cursor:pointer;	padding:4px 10px;display:inline-block;float:right; margin-right:5px;
					box-shadow:0 1px 2px 1px rgba(0,0,0,0.2);
					border:1px solid #0180a3;}
.kal-gg-route-con-btm{height:200px;}	
.kal-gg-route-con-select{height:20px; background-image:url(${context}/resources/img/admin/sche/select.png); background-repeat:no-repeat; background-position: right center;
            background-color: white;  width:80%; overflow: auto; -webkit-appearance: none;}	
.kal-gg-route-con-btn-add{float:right; height:35px; width:13%; position:relative; top:42px; right:60px;}	
.kal-gg-sche-con{width:87%; height:auto; float:right; margin-left:5px; margin-top:40px; text-align:center; background-color:#f2f2f2;}
.kal-gg-sche-inner-con{width:80%; margin:0 auto; margin-top:70px;}
.kal-gg-sche-con-title{font-size: 30px; color: #666666; width:100%; height:50px; margin:0 auto; text-align: center;}
.kal-gg-sche-con-subtitle{font-size: 20px; color: #666666; margin-top:60px;  border-top: 1px solid #dadada; padding-top: 50px; clear:both;}
.kal-gg-sche-con-table{text-align:center; width:100%; border:1px solid #dddddd; margin:50px auto 10px auto; }
.kal-gg-sche-con-table tr{color: #6a7373; border: 1px solid #dddddd;}
.kal-gg-sche-con-table tr th{color: #6a7373; border: 1px solid #dddddd; text-align:center; font-size: 14px;} 
.kal-gg-sche-con-table tr td{color: #6a7373; border: 1px solid #dddddd; background-color: white; color: #737373; font-size:12px; height:35px; width:20%; padding-top:7px;} 
.kal-gg-sche-con-search{ text-align:center;   width:100%; height:auto;	margin:30px;}
.kal-gg-sche-con-search div{/* padding-left:10%;   */margin:10px 5px;  padding-bottom: 10px; width:32%;  float:left;}
.kal-gg-sche-con-search-cal{text-align:center; width:100%;  clear:both;}
.kal-gg-sche-con-table2{text-align:center; width:90%; border:1px solid #dddddd; margin:20px auto; }
.kal-gg-sche-con-table2 tr{color: #6a7373; border: 1px solid #dddddd; }
.kal-gg-sche-con-table2 tr th{color: #6a7373; border: 1px solid #dddddd; text-align:center; font-size: 14px;} 
.kal-gg-sche-con-table2 tr td{color: #6a7373; border: 1px solid #dddddd; background-color: white; color: #737373; font-size:12px; height:35px; width:10%; padding-top:10px;} 
.kal-gg-sche-con-update-button{float:right; font-size: 10px; }
.kal-gg-sche-con-clear{clear:both;}
.kal-gg-sche-con-btn{background-color:#0180a3;color:white;font-size:10px;border-radius:3px;	cursor:pointer;	padding:4px 10px;display:inline-block; float:right; margin-right:5px;
					box-shadow:0 1px 2px 1px rgba(0,0,0,0.2);
					border:1px solid #0180a3; right:20px;}
.kal-gg-sche-con-btn2{background-color:#0180a3;color:white;font-size:10px;border-radius:3px;	cursor:pointer;	padding:4px 10px;display:inline-block; float:right; margin-left:10px;
					box-shadow:0 1px 2px 1px rgba(0,0,0,0.2);
					border:1px solid #0180a3;}					
.kal-gg-sche-con-btm{height:200px;}		
.kal-gg-sch-con-select{  height: 20px;  background-image: url(${context}/resources/img/admin/sche/select.png);   background-repeat:no-repeat; background-position: right center;
           /*  background-color: white; */  width:80%; margin-right:20px; overflow: auto; -webkit-appearance: none;}	
.kal-gg-sche-con-btn-td-none{background-color: none; border-right: none; border-bottom: none; border-left: none; border-right: none;}
.kal-gg-sche-con-btn-add{float:right; height:35px; width:13%; position:relative; top:42px; right:60px; /* position: relative; ; position:relative; left:140px; bottom:80px; padding-top:5px; */}
.kal-gg-sche-con-wrapper{width:100%;}
.kal-gg-sche-con-table-wrapper{width:100%; }
.kal-gg-sche-con-table2{text-align:center; width:83%; float:left; border:1px solid #dddddd; margin:20px auto; }
.kal-gg-sche-con-table2 tr{color: #6a7373; border: 1px solid #dddddd; }
.kal-gg-sche-con-table2 tr th{color: #6a7373; border: 1px solid #dddddd; text-align:center; font-size: 14px;} 
.kal-gg-sche-con-table2 tr td{color: #6a7373; border: 1px solid #dddddd; background-color: white; color: #737373; font-size:12px; height:35px; width:10%;}
.kal-gg-stat-con{width:87%; height:auto; float:right; margin-left:5px; margin-top:40px; text-align:center; background-color:#f2f2f2; z-index:1;}
.kal-gg-stat-chart{width:100%; height:500px; margin:50px; auto;}
/* gigun css */

























